:root {
  --background: #fafafa;
  --text-primary: #000000;
  --text-secundary: #424242;
  --red: #fc0202;
  --green: #0acf83;
  --primary: #ff8e00;
  --whatsapp: #25d366;
  --facebook: #3b5998;
  --instagram: linear-gradient(225.4deg, #7a2c9e 0%, #dd5789 59.47%, #fedc2a 93.59%);
  --chip-color: #e7e7e7;
  font-size: 100%;
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 110%;
  }
}

/* HTML ELEMENTS  ------------------------------------------------ */
body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  position: relative;
  font-family: "Roboto";
}

main {
  position: relative;
  padding: 0 1rem 5rem 1rem;
  display: flex;
  flex-direction: column;
}

main > section {
  margin: 1.2rem 0;
}

main > section:first-child {
  margin-top: 3rem;
}

main section iframe {
  width: 100%;
  height: 12.5rem;
}

p {
  line-height: 1.6rem;
}

strong {
  font-weight: bold;
}

button {
  outline: none;
}

/* CLASS ------------------------------------------------ */

.app-width {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
}

.hidden {
  display: none;
}

/* OTHER COMPONENTS ------------------------------------------------ */
.position-absolute-whatsapp {
  position: fixed;
  bottom: 6rem;
  left: calc(100% - 6.25rem);
  background-color: var(--whatsapp);
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all ease-in-out 0.4s;
}

.position-absolute-whatsapp img {
  width: 2.5rem;
  height: auto;
}

/* Chips de formas de pagamento */
.payment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.payment-container .payment-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--chip-color);
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
}

/* Redes sociais */
.social-media-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-media-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 2rem 0;
  min-height: 8rem;
}

.social-media-container a img {
  width: 2rem;
  height: auto;
}

.social-media-facebook {
  background: var(--facebook);
  flex: 1;
}

.social-media-instagram {
  background: var(--instagram);
  flex: 1;
}

.social-media-whatsapp {
  background: var(--whatsapp);
  width: 100%;
}

header {
  width: 100%;
}

header .image {
  width: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
}

header .overlay-black {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

header .content img {
  max-width: 20rem;
  transform: rotate(30deg);
}

header .content h1 {
  display: none;
}

@media screen and (max-width: 576px) {
  header .image {
    height: 15rem;
  }

  header .content img {
    max-width: 15rem;
  }
}

.bottomNavigationBar {
  position: fixed;
  bottom: 0;
  background: var(--primary);
  box-shadow: 0px 9.28571px 11.6071px rgba(0, 0, 0, 0.14), 0px 3.48214px 16.25px rgba(0, 0, 0, 0.12),
    0px 5.80357px 5.80357px rgba(0, 0, 0, 0.2);
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 4rem;
}

.bottomNavigationBar .center {
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.bottomNavigationBar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.3s linear;
  outline: none;
  text-decoration: none;
  flex-direction: column;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.bottomNavigationBar a:active,
.bottomNavigationBar a:hover {
  background-color: #d47600;
}

/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 700px;
  width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 95%;
  }
}

/*Footer*/
footer {
  width: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: #ff8e00;
  font-weight: bold;
}
